body {
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 95vw;
  margin: auto;
}

/* the buttons has been styled as desired */
button {
  color: white;
  background-color: #212478;
  width: 30%;
}

@media only screen and (max-width: 600px) {
  button {
    font-size: 0.85em;
    padding: 2%;
  }
}

/* change font-size and padding on bigger screens */
@media only screen and (min-width: 601px) {
  button {
    font-size: 1.4em;
    padding: 0.85%;
  }
}

#home-button.active {
  background-color: red;
}

#quiz-welcome-button.active {
  background-color: red;
}

#tablica-button.active {
  background-color: red;
}
