<body class="home-route">
  <div class="navbar">
    <button mat-button routerLink="/home" id="home-button">
      Strona główna
    </button>
    <button mat-button routerLink="/quiz-welcome" id="quiz-welcome-button">
      Quiz
    </button>
    <button mat-button routerLink="/tablica" id="tablica-button">
      Tablice
    </button>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var currentClass = document.body.className;
      document
        .getElementById(currentClass.replace("-route", "-button"))
        .classList.add("active");
    });
  </script>
</body>
