################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjektZespolowy/FileContentIndex/93d5242a-1a2f-497d-a6bb-44e97cafd3b0.vsidx
/.vs/ProjektZespolowy/FileContentIndex
/.vs/slnx.sqlite
