################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjektZespolowy/FileContentIndex/93d5242a-1a2f-497d-a6bb-44e97cafd3b0.vsidx
/.vs/ProjektZespolowy/FileContentIndex
/.vs/slnx.sqlite
/.vs/ProjektZespolowy2/FileContentIndex/749b219e-56e8-4b18-ba1f-251eaa850738.vsidx
/.vs/ProjektZespolowy2/FileContentIndex/merges
/.vs/ProjektZespolowy2/FileContentIndex/c930df63-6456-45de-adcb-8e334e3b4344.vsidx
/.vs/ProjektZespolowy2/FileContentIndex/cbc66e91-d578-46c2-b382-3b63c9eb5313.vsidx
