.main-contener {
  display: flex;
  flex-direction: column;
}

.logo-title {
  display: flex;
  justify-content: center; /* change to center instead of space-between */
  align-items: center; /* added this line to center vertically */
  font-family: Roboto, sans-serif;
  padding-top: 2%;
  padding-bottom: 3%;
}

.logo-title h1 {
  font-size: 2em;
}

@media only screen and (min-width: 768px) {
  .logo-title h1 {
    font-size: 3.2em;
  }
}


.logo-title img, .logo-title h1 {
  margin: 0 1%; /* adds 10px of margin to the top, right, bottom and left */
}