.mat-card {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90vw;
  overflow: hidden;
}
mat-card-actions {
  overflow: hidden;
}
mat-card-content {
  color: white;
  background-color: #464575;
  text-align: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}
button {
  color: white;
  background-color: #212478;
  width: 49vw;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  button, mat-card-content {
    font-size: 0.7em;
    /* padding: 2%; */
  }
}

@media only screen and (min-width: 601px) {
  button, mat-card-content {
    font-size: 1.2em;
    /* padding: 0.85%; */
  }
}

.disabled {
  background-color: gray;
}
.correct {
  background-color: rgb(44, 131, 44);
}
.incorrect {
  background-color: rgb(160, 47, 47);
}
