<button mat-button color="primary" (click)="next()">next</button>
<button mat-button color="primary"(click)="previous()">prev</button>

<mat-card *ngIf="questions[active_question] as item">
    <mat-card-content class="square">
      <h2>{{ item.pytanie }}</h2>
    </mat-card-content>

    <mat-card-actions *ngFor="let npr of item.npr_odp; index as i">
      <button mat-button
              *ngIf="i === item.pr_odpowiedz_pozycja"
              class="square pr" (click)="correctClicked();"
              [attr.disabled]="buttonsDisabled ? '' : null"
              [style.background-color]="buttonsDisabled ? 'green' : 'blue'">
        <p> {{ getCorrectAnswer(item) }} </p>
      </button>
      <button mat-button class="square npr" (click)="incorrectClicked();" [attr.disabled]="buttonsDisabled ? '' : null">
        <p>{{ item.npr_odp[i] }}</p>
      </button>
      <button mat-button *ngIf="item.npr_odp.length === item.pr_odpowiedz_pozycja" class="square pr" (click)="correctClicked();" [attr.disabled]="buttonsDisabled ? '' : null">
        <p> {{ getCorrectAnswer(item) }} </p>
      </button>
    </mat-card-actions>

</mat-card>
