<!--<button (click)="selectRandomElements(4)">Select Random Elements</button>-->

<div *ngIf="questions">
  <div *ngFor="let item of questions">
    <div class="square">
      <h2>{{ item.pytanie }}</h2>
    </div>
    <!--<div *ngFor="let pr of item.pr_odpowiedz">
      <div class="square">
        <p>{{ pr }}</p>
      </div>
    </div>-->

  <div *ngIf="{ randomPositon: getRandomPosition(item.npr_odp.length) } as variable">
    <div *ngFor="let npr of item.npr_odp; index as i">
      <div *ngIf="i === variable.randomPositon" class="square" question="pr">
        <p> {{ getCorrectAnswer(item) }} </p>
      </div>
      <div class="square" question="npr">
        <p>{{ item.npr_odp[i] }}</p>
      </div>
    </div>
    <div *ngIf="item.npr_odp.length === variable.randomPositon" class="square" question="pr">
      <p> {{ getCorrectAnswer(item) }} </p>
    </div>
  </div>

</div>
  </div>
