<mat-card>
  <mat-card-content>
    {{title}}
  </mat-card-content>
  <mat-card-content>
    {{active_question + 1}}/{{questions.length}} {{questions[active_question].question}}
  </mat-card-content>
  <mat-card-actions *ngFor="let answer of questions[active_question].answers">
    <button mat-button
            (click)="checkAnswer(answer['correct'])"
            [disabled]="isDisabled"
            [ngClass]="setButtonColor(answer['correct'])">
      {{answer['answer']}}
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-button (click)="next()">
      {{bottomButton}}
    </button>
  </mat-card-actions>
</mat-card>
