<div class="container">
  <pre>{{ currentBoard }}</pre>

  <!-- strzałki nawigacyjne -->
  <div class="arrows">
    <div (click)="previousTextFile()" class="left-arrow">&lt;</div>
    <div (click)="nextTextFile()" class="right-arrow">&gt;</div>
  </div>
  <div class="speech-controls">
    <button (click)="speakText()" [disabled]="isSpeaking">Start speech</button>
    <button (click)="stopSpeech()" [disabled]="!isSpeaking">Stop speech</button>
    <button (click)="pauseSpeech()" [disabled]="!isSpeaking">
      Pause speech
    </button>
    <button (click)="resumeSpeech()">Resume</button>
  </div>
</div>
