.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 3%;
    height: 100%;
    width: 90vw; /* change width to match the first code */
    background-color: #464575;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .image-class{
    width:50%;
    height:auto;
    padding-top: 0.8%;
    padding-bottom: 1%;
  }
  
  @media only screen and (max-width: 767px) {
    .image-class {
      width:80%;
      padding-bottom: 3%;
    }
  }
  
  pre {
    white-space:break-spaces;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
  }
  
  @media only screen and (min-width: 768px) {
    pre {
      font-size: 1.5em;
    }
  }
  