/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body {

    /* every page has the same background */
    color: white;

    background: linear-gradient(182.03deg, #06046A -0.97%, #030316 98.29%);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* trying to get all items in the center */
    /* display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw; */
}
