<mat-card>
  <mat-card-content>
    Witaj w sekcji quizu! Za każdą poprawną odpowiedź otrzymasz 1 punkt.
    Pod koniec quizu wyświetli się twój wynik. Jeśli uczestniczysz w konkursie na terenie uczelni podejdź z wynikiem do stoiska i spytaj o nagrodę.
    Możesz wybrać między pytaniami ze wszystkich tablic lub z jednej konkretnej.
    Powodzenia!
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/quiz">
      Graj we wszystkie! 
    </button>
  </mat-card-actions>
</mat-card>

<mat-grid-list [cols]="3" rowHeight="250px">
  <mat-grid-tile *ngFor="let quiz of quizzes">
    <mat-card>
      <mat-card-content>
        <p>{{ quiz.no }}{{ quiz.page }} {{ quiz.title }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="play(quiz)">
          Graj!
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
