.mat-card {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90vw;
  overflow: hidden;
}

mat-card-content {
  color: white;
  background-color: #464575;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.chosen-one {
  width: 65vw;
  height: 4em;
}

button {
  color: white;
  background-color: #212478;
  text-align: center;
  width: 65vw;
  height: 4em;
  
}

.card-container {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  button, mat-card-content {
    font-size: 1.1em;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  button {
    width: 43vw;
    height: 43vw;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    flex-basis: calc(36%);
    margin: 2%;
  }

}

@media only screen and (min-width: 601px) {
  button, mat-card-content {
    font-size: 1.6em;
  }
}


