.mat-card {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90vw;
}

mat-card-content {
  color: white;
  background-color: #464575;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

button {
  color: white;
  background-color: #212478;
  text-align: center;
  width: 28.5vw;
}

@media only screen and (max-width: 600px) {
  button, mat-card-content {
    font-size: 0.7em;
    /* padding: 2%; */
  }
}

@media only screen and (min-width: 601px) {
  button, mat-card-content {
    font-size: 1.2em;
    /* padding: 0.85%; */
  }
}
